*{
    box-sizing: border-box;
}

.default .section-body{
    max-width: 1140px;
    z-index: 2;
}

.section-body .about-container{
    display: flex;
    column-gap: 20px;
    padding: 10px;
}

.about-content > p{
    line-height: 25px;
    margin-bottom: 40px;
}

.about-content > a,
.ourProject-container > a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: #B28756;
    border: 1px solid #B28756;
    border-radius: 30px;
    padding: 15px 55px;
    transition: background-color 0.3s ease-out;
}

.about-content > a:hover,
.ourProject-container > a:hover{
    color: black;
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff00;
}

.about-image img{
    width: 440px;
    height: 270px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
}

.section-body .services-container{
    display: flex;
}

.services-highlights{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    width: calc(1140px / 4);
    padding: 0px 10px;
    border-left: 1px solid #cccccc49;
    border-right: 1px solid #cccccc49;
}

.services-highlights > img{
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 40px;
}
.services-highlights > h2,
.services-highlights > p{
    text-align: center;
}

.services-highlights > h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 5px;
}

.services-highlights > p{
    color: #ccccccde;
    font-size: 0.8rem;
}

.ourProject-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    width: 100%;
}

.ourProject-options{
    display: flex;
    cursor: pointer;
}

.ourProject-options:hover > .options:hover{
    border: 1px solid #B28756;
    transform: translateY(-5px)
}

.ourProject-options:hover > :not(:hover){
    opacity: 0.3;
}

.ourProject-options > .options{
    border: 1px solid #ccc;
    padding: 20px 20px;
    transition: all 0.5s ease;
}


.ourProject-options div:first-child{
    border-radius: 30px 0px 0px 30px;
    padding-left: 40px;
}
.ourProject-options div:last-child{
    border-radius: 0px 30px 30px 0px;
    padding-right: 40px;
}

.ourProject-options > .options > span{
    text-transform: uppercase;
    font-size: 0.9rem;
}

.ourProject-gallery{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    column-gap: 40px;
    row-gap: 40px;
}

.ourProject-gallery > .photos{
    position: relative;
    width: 250px;
    height: 150px;
    transition: all 1s ease;
}

.ourProject-gallery > .photos > .photo-info{
    display: block;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.5s ease;
}

.ourProject-gallery > .photos:hover .photo-info > h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 5px;
}

.ourProject-gallery > .photos:hover .photo-info{
    color: white;
    display: flex;
    background-color: rgba(0, 0, 0, 0.575);
}

.ourProject-gallery > .photos:hover .photo-info > p{
    text-align: center;
    color: #ccccccde;
    font-size: 0.8rem;
}

/* Our Team */

.ourteam-bg{
    background: url('../images/bg.jpg') no-repeat center/cover;
}

.ourteam-area{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.section-ourteam{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-ourteam .ourteam-slider{
    width: 1000vw;
    height: 450px;
}

.section-ourteam .slide{
    display: inline-block;
    width: 280px;
    
    margin-right: 20px;
    background-color: white;
}

.section-ourteam .slide-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    height: inherit;
    padding: 40px 10px;
}

.section-ourteam .slide-area > h2{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 5px;
}

.section-ourteam .slide-area > p{
    font-size: 0.9rem;
    color: #aaa8a8;
}

.section-ourteam .slide-area > .ourteam-social,
.section-ourteam .slide-area > .ourteam-social span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-ourteam .slide-area > .ourteam-social{
    column-gap: 8px;
}

.section-ourteam .slide-area > .ourteam-social span{
    background-color: #aaa8a8;
    width: 30px;
    height: 30px;
    margin-top: 40px;
    border-radius: 50%;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.section-ourteam .slide-area > .ourteam-social span:hover{
    background-color: #B28756;
}

/* Pontos do slider */
#ourTeam .slider-pointer{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    top: 90%;
    width: 100%;
    height: 20px;
}

#ourTeam .pointer1,
#ourTeam .pointer2,
#ourTeam .pointer3{
    width: 13px;
    height: 13px;
    border: 1px solid #B28756;
    border-radius: 50%;
    cursor: pointer;
}

.slider-pointer .active{
    background-color: #b28756;
}

