*{
    box-sizing: border-box;
}

.default .section-body{
    max-width: 1140px;
}

.section-body .about-container{
    display: flex;
    column-gap: 20px;
    padding: 20px;
}

.about-content > p{
    line-height: 25px;
    margin-bottom: 40px;
}

.about-content > a,
.ourProject-container > a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: #B28756;
    border: 1px solid #B28756;
    border-radius: 30px;
    padding: 15px 55px;
    transition: background-color 0.3s ease-out;
}

.about-content > a:hover,
.ourProject-container > a:hover{
    color: black;
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff00;
}

.about-image img{
    width: 440px;
    height: 270px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
}

.section-body .services-container{
    display: flex;
}

.services-highlights{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    width: calc(1140px / 4);
    padding: 0px 10px;
    border-left: 1px solid #cccccc49;
    border-right: 1px solid #cccccc49;
}

.services-highlights > img{
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 40px;
}
.services-highlights > h2,
.services-highlights > p{
    text-align: center;
}

.services-highlights > h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 5px;
}

.services-highlights > p{
    color: #ccccccde;
    font-size: 0.8rem;
}

.ourProject-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    width: 100%;
}

.ourProject-options{
    display: flex;
    cursor: pointer;
}

.ourProject-options:hover > .options:hover{
    border: 1px solid #B28756;
    transform: translateY(-5px)
}

.ourProject-options:hover > :not(:hover){
    opacity: 0.3;
}

.ourProject-options > .options{
    border: 1px solid #ccc;
    padding: 20px 20px;
    transition: all 0.5s ease;
}


.ourProject-options div:first-child{
    border-radius: 30px 0px 0px 30px;
    padding-left: 40px;
}
.ourProject-options div:last-child{
    border-radius: 0px 30px 30px 0px;
    padding-right: 40px;
}

.ourProject-options > .options > span{
    text-transform: uppercase;
    font-size: 0.9rem;
}

.ourProject-gallery{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    column-gap: 40px;
    row-gap: 40px;
}

.ourProject-gallery > .photos{
    position: relative;
    width: 250px;
    height: 150px;
    transition: all 1s ease;
}

.ourProject-gallery > .photos > .photo-info{
    display: block;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.5s ease;
}

.ourProject-gallery > .photos:hover .photo-info > h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 5px;
}

.ourProject-gallery > .photos:hover .photo-info{
    color: white;
    display: flex;
    background-color: rgba(0, 0, 0, 0.575);
}

.ourProject-gallery > .photos:hover .photo-info > p{
    text-align: center;
    color: #ccccccde;
    font-size: 0.8rem;
}

/* Our Team */

.ourteam-bg{
    background: url('../images/bg.jpg') no-repeat center/cover;
}

.ourteam-area{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.section-ourteam{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-ourteam .ourteam-slider{
    width: 1000vw;
    height: 450px;
}

.section-ourteam .slide{
    display: inline-block;
    width: 280px;
    
    margin-right: 20px;
    background-color: white;
}

.section-ourteam .slide-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    height: inherit;
    padding: 40px 10px;
}

.section-ourteam .slide-area > h2{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 5px;
}

.section-ourteam .slide-area > p{
    font-size: 0.9rem;
    color: #aaa8a8;
}

.section-ourteam .slide-area > .ourteam-social,
.section-ourteam .slide-area > .ourteam-social span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-ourteam .slide-area > .ourteam-social{
    column-gap: 8px;
}

.section-ourteam .slide-area > .ourteam-social span{
    background-color: #aaa8a8;
    width: 30px;
    height: 30px;
    margin-top: 40px;
    border-radius: 50%;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.section-ourteam .slide-area > .ourteam-social span:hover{
    background-color: #B28756;
}

/* Pontos do slider */
#ourTeam .slider-pointer{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    top: 90%;
    width: 100%;
    height: 20px;
}

#ourTeam .pointer1,
#ourTeam .pointer2,
#ourTeam .pointer3{
    width: 13px;
    height: 13px;
    border: 1px solid #B28756;
    border-radius: 50%;
    cursor: pointer;
}

.slider-pointer .active{
    background-color: #b28756;
}

/* Happy Clients section */
#happyClients{
    background-color: #f7f7f7;
    overflow-x: hidden;
}

.happyclients-size{
    width: 99vw;
}

.happyclients-slider{
    width: 400vw;
    height: 100%;
}

.happyclients-slider .slide{
    display: inline-block;
    width: 100vw;
    height: 100%;
}

.happyclients-slider .slide-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.happyclients-slider .slide-area h2,
.happyclients-slider .slide-area .quotes{
    margin-top: 30px;
    margin-bottom: 10px;
}

.happyclients-slider .slide-area h3{
    font-weight: 500;
}

.happyclients-slider .slide-area .happyclients-desc{
    color: #818181;;
    text-align: center;
    width: 1000px;
}

#happyClients .slider-pointer{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    top: 90%;
    width: 100%;
    height: 20px;
    margin-top: 40px;
}

#happyClients .pointer1,
#happyClients .pointer2,
#happyClients .pointer3{
    width: 13px;
    height: 13px;
    border: 1px solid #B28756;
    border-radius: 50%;
    cursor: pointer;
}

/* Colaboradores */
#partness{
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.527);
    z-index: 999;
}

.colab-container{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1140px;
}

.colab-container img{
    margin: 40px 0px;
}

/* Price section */
#price{
    background-color: #f7f7f7;
}
.price-container{
    display: flex;
    column-gap: 30px;
}

.price-card{
    
    width: 250px;
    background: white;
    padding: 30px;
}

.price-card h3,
.price-card span,
.price-card p,
.price-card button,
.price-card .price-bar{
    margin: auto;
    text-align: center;
    border: 0px;
}

.price-card h3{
    font-size: 1rem;
}

.price-card h3,
.price-card span,
.price-card button{
    font-weight: 500;
    text-transform: uppercase;
}

.price-card span{
    display: block;
}

.price-card .price-number{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.price-card .price-assing{
    margin-bottom: 25px;
    color: #818181;
}


.price-card p,
.price-card .price-assing{
    font-size: 0.8rem;
}

.price-card .price-bar{
    border: 1px solid black;
    width: 10px;
}

.price-card .price-bar,
.price-card p{
    color: #383838;
    margin-top: 7px;
}

.price-card button{
    display: block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 20px 40px;
    margin-top: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.price-card button:hover{
    background-color: #B28756;
}

/* PREMIUM SECTION */
.premium-container{
    padding-bottom: 50px;
    border-bottom: 1px solid #81818163;
}

.premium-container,
.premium-container .img{
    display: flex;
    justify-content: center;
}

.premium-container .img,
.premium-container .premium-content{
    flex: 1;
}

.first-feature .feature-desc,
.second-feature .feature-desc{
    margin: 0px 0px 30px 30px;
}

.third-feature .feature-desc{
    margin-left: 30px;
}

.first-feature,
.second-feature,
.third-feature{
    display: flex;
}

.first-feature h3,
.second-feature h3,
.third-feature h3,
.premium a{
    text-transform: uppercase;
    font-weight: 600;
}

.first-feature p,
.second-feature p,
.third-feature p{
    color: #818181;
    font-size: 0.9rem;
    line-height: 20px;
    margin-top: 10px;
}

.premium{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.premium a{
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    padding: 15px 55px;
    margin-top: 40px;
    border: 1px solid #B28756;
    border-radius: 30px;
    background-color: #B28756;
    transition: background-color 0.5s ease;
}

.premium a:hover{
    color: black;
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff00;
}

/* SOME FACTS */
.somefacts-container,
.somefacts-content,
.somefacts-desc{
    display: flex;
}

.somefacts-container{
    column-gap: 100px;
    margin-bottom: 40px;
}
.somefacts-content{
    flex: 1;
    row-gap: 10px;  
}

.somefacts-content,
.somefacts-desc{
    flex-flow: column;
}

.somefacts-desc{
    flex: 1;
    color: white;
}

.somefacts-desc span,
.somefacts-bar{
    font-size: 2.7rem;
    font-weight: bold;
    margin: auto;
    color: #B28756;
}

.somefacts-bar{
    width: 20px;
    border: 1px solid #818181;
}

.somefacts-desc h3{
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
}

.somefacts-desc p{
    font-size: 0.9rem;
    line-height: 20px;
    text-align: center;
    color: #ccc;
}

/* SOCIAL */
#social{
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.527);
    z-index: 999;
}

.social-container,
.social-share,
.social-content,
.social-medias,
.social-medias span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-container{
    padding: 30px;
    column-gap: 60px;
}

.social-share{
    column-gap: 15px;
}

.social-share > img{
    cursor: pointer;
}

.social-content{
    column-gap: 35px;
}

.social-medias{
    column-gap: 10px;
}

.social-medias > .tt,
.social-medias > .lkdin,
.social-medias > .face,
.social-medias > .gplus,
.social-medias > .pint{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.social-medias > .tt{
    background-color: #33c4f0;
}

.social-medias > .lkdin{
    background-color: #127db5;
}

.social-medias > .face{
    background-color: #336296;
}

.social-medias > .gplus{
    background-color: #e64238;
}

.social-medias > .pint{
    background-color: #b81c29;
}

/* FORMS CONTACT US */
.contactus-container,
.contactus-container form .dados,
.contactus-container form .send-messages{
    display: flex;
}

.contactus-container,
.contactus-container form .send-messages{
    flex-flow: column;
}

.contactus-container{
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contactus-container form{
    width: 600px;
}

.contactus-container form .dados{
    column-gap: 30px;
    margin-bottom: 40px;
}

.contactus-container form .dados input{
    flex: 1;
}

.contactus-container form .send-messages{
    flex-direction: column;
    row-gap: 90px;
}

input#iname,
input#iemail,
input#isubject,
input#imessage{
    padding: 15px 0px;
    border: 0;
    border-bottom: 2px solid #aeaeae;
}

input::placeholder{
    text-transform: uppercase;
    font-weight: 400;
}

.contactus-container > a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
    padding: 15px 55px;
    margin-top: 50px;
    border: 1px solid #B28756;
    border-radius: 30px;
    background-color: #B28756;
    transition: background-color 0.5s ease;
}

.contactus-container > a:hover{
    color: black;
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff00;
}


/* MAPA */
#maps{
    background: url(../images/mapa.jpg) no-repeat center/cover;
    padding: 30px 0px;
}

.maps-container{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.maps-content{
    width: 50%;
    padding: 30px;
    background-color: white;
    color: black;
}

.maps-adress,
.maps-adress > span{
    display: flex;
    align-items: center;
}

.maps-adress{
    margin-bottom: 10px;
}

.maps-adress > span{
    justify-content: center;
    background-color: #aeaeae;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.maps-adress > p{
    font-size: 0.8rem;
    color: #4b4b4b;
}
